/* Ẩn biểu tượng lịch cho các trình duyệt WebKit (Chrome, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Ẩn biểu tượng lịch cho Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* Style for the select branch container */  
.select-container {  
    display: flex;  
    align-items: center;  
    border: 2px solid transparent; /* Border might cause overflow if not controlled */  
    border-radius: 0.5rem; /* Adjust rounded corners */  
    padding: 0.5rem; /* Ensure enough padding */  
    width: 100%; /* Allow full width */  
    overflow: hidden; /* Prevent overflow of child elements */  
  }  
  
  /* Style for the select element */  
  .select-container select {  
    flex-grow: 1; /* Enable the select to grow */  
    border: none; /* Remove border */  
    outline: none; /* Remove outline */  
    font-weight: 500; /* Ensure font weight */  
    background-color: white; /* Background color */  
  }

/* Thay đổi kích thước của các thẻ */
.card {
  padding: 2rem; /* Giảm padding */
  font-size: 0.875rem; /* Giảm kích thước chữ */
}

/* Thay đổi kích thước của bảng */
.table {
  font-size: 0.875rem; /* Giảm kích thước chữ */
}

.table th, .table td {
  padding: 0.5rem; /* Giảm padding */
}

/* Thay đổi kích thước của nút */
.button {
  padding: 0.5rem 1rem; /* Giảm padding */
  font-size: 0.875rem; /* Giảm kích thước chữ */
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Cho phép cuộn ngang */
  margin-bottom: 1.5rem; /* Tạo khoảng cách với đáy */
}

table {
  width: 100%; /* Bảng chiếm toàn bộ chiều rộng của container */
}

.pagination {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.action-popup {
  position: absolute;
  top: 100%; /* Đặt popup ngay dưới nút */
  left: 0; /* Căn trái với nút */
  z-index: 10;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.status-column {
  width: 180px; /* Điều chỉnh kích thước theo ý muốn */
}


